{% block content %}

계정<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>장고의 세계에 오신 것을 환영합니다!</title>
</head>
<body>
  {% include "navbar.html" %}
  회원가입 페이지입니다..
</body>
</html>

<div class="jumbotron">
  <div class="container text-center">
    <!-- url 끝에 slash 필요-->
    <form method="post" action="/account/signup/">
    {% csrf_token %}
    <div class="form-group">
      <label for="userid">User ID:</label>
      <input type="text" class="form-control" id="userid" name="userid">
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
    <div class="form-group">
      <label for="pwd">User password:</label>
      <input type="password" class="form-control" id="pwd" name="pwd">
    </div>
    <div class="form-group">
        <label for="introduction">Introduction:</label>
        <input type="text" class="form-control" id="introduction" name="introduction">
      </div>
    
    <button class="btn btn-primary btn-block" id="signup">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}