{% block content %}

계정<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>장고의 세계에 오신 것을 환영합니다!</title>
</head>
<body>
  {% include "navbar.html" %}
  회원가입 페이지입니다..
</body>
</html>

<div class="jumbotron">
  <div class="container text-center">
    <!-- url 끝에 slash 필요-->
    <form method="post" action="/user/signup/">
    {% csrf_token %}
    <div class="form-group">
      <label for="user_handle">user_handle:</label>
      <input type="text" class="form-control" id="user_handle" name="user_handle">
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="user_name" name="user_name">
      </div>
    <div class="form-group">
      <label for="user_pwd">User password:</label>
      <input type="password" class="form-control" id="user_pwd" name="user_pwd">
    </div>
    <div class="form-group">
        <label for="user_intro">Introduction:</label>
        <input type="text" class="form-control" id="user_intro" name="user_intro">
      </div>
    
    <button class="btn btn-primary btn-block" id="signup">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}